# EditorConfig Core
root = true

# File Defaults
[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
tab_width = 8

# Github markdown syntax is whitespace-sensitive
# 2+ trailing spaces forces the following text to start on the next line
[*.md]
indent_size = 4
trim_trailing_whitespace = false
