#### Source Code Index
tags

#### Compiled directories
## General
bin/
dist/
target/

## 3rd party support
assets/
vendor/

## Javascript
node_modules/


#### Compiled files
## General
*.pdf
# Executables
*.bin
*.exe
# Shared objects (inc. Windows DLLs)
*.dll
*.so

## C/C++
# Definitions
*.d
# Object Files
*.o

## Python
*.py[cod]

## Java
*.class
*.jar
*.war

## Tex
*.aux
*.log
# Intermediate
*.dvi

# HTML
*.min.html

# CSS
*.min.css

# Javascript
*.min.js


#### Image files
## General
*.iso

## Wireshark
*.pcap


#### Backup files
## General
logs/
*~
*.bak
*.sav
*.log

## Vim
# Swap
*[._]s[a-w][a-z]
# Temporary
.netrwhist
Session.vim


#### Other SCM
## Mercurial
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags

## SVN
.svn/

## Accurev
.accurev/
