#### Compiled files
## General
# Executables
*.bin
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

## Windows
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

## C/C++
# Definitions
*.d
# Object Files
*.elf
*.ko
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
.dylib

## Java
*.class
*.jar

## Tex
*.aux
*.log


#### Compiled directories
## General
bin/
dist/
lib/


#### Debug
## C/C++
*.dSYM/
*.su

#### Image files
## General
*.iso

## Wireshark
*.pcap


#### Backup files
## General
*~
*.bak

## Vim
*.s[a-w][a-z]


#### Configs
tags
