[submodule "shell/bash.git"]
	path = shell/bash.git
	url = https://github.com/janlazo/dotbash
	branch = master
[submodule "dotvim8"]
	path = editor/vim.git
	url = https://github.com/janlazo/dotvim8
	branch = master
