[submodule "editor/vim.git"]
	path = editor/vim.git
	url = https://github.com/janlazo/dotvim
	branch = master
[submodule "terminal/tmux.git"]
	path = terminal/tmux.git
	url = https://github.com/janlazo/dottmux
	branch = master
[submodule "shell/bash.git"]
	path = shell/bash.git
	url = https://github.com/janlazo/dotbash
	branch = master
[submodule "editor/micro.git"]
	path = editor/micro.git
	url = https://github.com/janlazo/dotmicro
	branch = master
