#### Compiled files
## General
# Executables
*.bin
*.exe
# Shared objects (inc. Windows DLLs)
*.dll
*.so

## C/C++
# Definitions
*.d
# Object Files
*.o

## Python
*.py[cod]

## Java
*.class
*.jar
*.war

## Tex
*.aux
*.log
# Intermediate
*.dvi


#### Compiled directories
## General
bin/
dist/


#### Image files
## General
*.iso
# Must have a non-empty filename
.pdf
.ps

## Wireshark
*.pcap


#### Backup files
## General
logs
*~
*.bak
*.sav
*.log

## Vim
# Swap
*[._]s[a-w][a-z]
# Temporary
.netrwhist


#### Source Code Index
tags


#### Other SCM
## Mercurial
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags

## SVN
.svn/
